.navbar {
  background: linear-gradient(90deg, #05070f, #0b132b);
  padding: 14px 30px;
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.15);
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-brand {
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 1px;
  color: #00f5ff !important;
  text-shadow: 0 0 15px rgba(0, 245, 255, 0.8);
  transition: 0.3s ease;
}

.navbar-brand:hover {
  color: #ffffff !important;
  text-shadow: 0 0 14px #008cff;
}
.navbar-nav {
 margin-left: 17%;
  gap: 40px;
}

.nav-link {
  color: #e0e0e0 !important;
  font-size: 1.05rem;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease;
}
.nav-link:hover {
  color: #008cff !important;
  text-shadow: 0 0 6px #0cb7f0;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #008cff;
  left: 0;
  bottom: -6px;
  transition: 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
.nav-link.active {
  color: #00f5ff !important;
  text-shadow: 0 0 12px #00f5ff;
}

